body {
  padding-left: 22%;
  padding-right: 22%;

}
img {
  height: 100%;
  width: 100%;
}
.position{
  padding-top: 100%;
  padding-bottom: 100%;
}
span {
  font-size: 1.1rem;
}
.screen{
  margin: 0;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.our-work{
  height: 70px;
  padding-top: 20px;
  background-color: #383434;
  color: white;
  text-align: center;
  font-size: 1.1rem;
}
strong{
  font-size: 1.5rem;
}
.back1{
  height: 100px;
  padding-top: 20px;
  text-align: center;
}
.foot{
  font-size: 1.1rem;
}
